body {
	font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../images/icons/previous.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../images/icons/next.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titlePortfolio{
    text-align: center;
    margin-top: -50px;
    width: 100%;
    height: 150px;
}

.titleMessage .heading p,
.titlePortfolio   {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main,
.titlePortfolio .main {
	font-size: 50px;
}

.titleMessage .heading .sub,
.titlePortfolio .sub {
	font-size: 23px;
}

.section {
	padding: 100px 0;
}

.aboutImage {
    max-width: 100%;
    border-radius: 5px;
}

.skillsSection,  
.projectSection,
.projectSkillsSection {
	background-color: #00728D;
    color: #fff;
}
.contactSection {
    background-color: #F2C67B;
    margin: 20px;
}

.skill {
	text-align: center;
	margin-left: 10px;
}

.chart {
	position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
	color: #F2C67B;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
	content: '%';
}


.squareItem {
	margin-top: 30px;
    position: relative;
    height: 200px;
}

.squareInnerContainer {
	position: relative;
	padding: 50px 15px 35px;
	text-align: center;
	border: 2px solid #444;
	border-top: none;
}

.squareInnerContainer:before,
.squareInnerContainer:after {
	content: '';
	position: absolute;
	top: 0px;
	width: 30%;
	border-bottom: 2px solid #444;
}


.squareInnerContainer:before {
	right: 0px;
}

.squareInnerContainer:after {
	left: 0px
}

.squareContent h2 {
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: 400;
	color: #042C67;
}

.squareContent h3 {
	font-size: 13px;
	font-weight: 600;
	margin: 0;
}
.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 2px;
}

.contactButton:hover {
    text-decoration: none;
    color: #F2C67B;
    background-color: white;
}


/* The Modal (background) */
.projectImage{
    max-width: 100%;
    margin-right:10px;
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close2:hover,
  .close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* The Close Button */
  .close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close3:hover,
  .close3:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .titleProject{
      color: #F2C67B;
      font-size: 15px;
  }

  .links {
      text-decoration: none;
      font-size: 10px;
      color: #fff;
  }

  .linksAbout {
    text-decoration: none;
    font-size: 10px;
    color: green;
    font-weight: bold;
}

.textProject{
    color: #042C67;
}

#navigation {
	background-color: #F2C67B;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
	color: #fff;
}


.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.navbar-toggler-icon {
	background: url(../images/icons/menu.png);
	background-size: 100%;
}

b{
    color:#042C67;
}

.certificatesSection,
.otherSkillsSection{
    background-color: white;
    color: black;
}

.certif{
    width: 300px;
    height: auto;
    margin: 40px;
    padding: 40px;
}
.thumbnail{
    padding: 10px;
}
.thumbnailIcon{
    width: 200px;
}